:root {
  --iris-60: #A5A6F6;

  --iris-80: #7879F1;

  --iris-100: #5D5FEF;

  --white: #efefff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 1.6rem;
}

/* Folded menu */
.menu {
  position: fixed;
  bottom: 0;

  width: 100vw;

  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5);
}

.menu > figure {
  position: sticky;
  top: 0;

  margin-bottom: 12px;
  padding-top: 12px;
  width: 100%;
  height: 60px;

  background: var(--iris-60);
}

.menu--unfolded {
  /*border top radius*/
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  
  height: 72vh;

  overflow: auto;
  background: var(--iris-60);
}

.menu__icon--unfolded {
  display: block;
  
  margin: 0 auto;
  width: 32px;
}

.temas li {
  display: block;

  margin-bottom: 12px;
  /*Temporal*/
  border: 1px dashed blue;
  height: 60px;
}