/* Navbar */
header {
  display: flex;
  gap: 12px;
  align-items: center;

  padding: 0 16px;
  height: 60px;

  background-color: var(--iris-60);
}

.header__icon {
  border-radius: 50%;
  height: 32px;
}

.header__title {
  font-size: 2rem;
}