/* Option button */
.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  
  padding: 0 12px;
  height: 60px;
}

.option__icono-tema {
  border-radius: 50%;
  width: 40px;
  height: 40px;

  object-fit: contain;
}

.option__title {
  flex-grow: 2;

  font-size: 2.4rem;

  color: var(--iris-100);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.option__icono-flecha {
  width: 12px;
  height: 12px;

  object-fit: contain;
}
